@charset "utf-8";

@import "./webfonts/webfonts.scss";
@import "bulma";

// Mixins
@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Create layout
@import "./layout.scss";
@import "./common.scss";
@import "./header.scss";
@import "./group.scss";

// Themes import
@import "./themes/sui.scss";