.group-logo {
  float: left;
}

.group-title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  color: var(--text-header);
}

.card {
  border: none;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
  overflow: visible;
  background-color: var(--card-background);
  box-shadow: none;
  border-radius: var(--border-radius);

  .title {
    font-weight: 700;
    color: var(--text-title);
  }

  .tag {
    color: var(--text);
    background-color: var(--highlight-secondary);
    position: absolute;
    top: -0.1rem;
    right: 1.2rem;
    height: 4px;
    width: 2rem;
    overflow: hidden;
    transition: all 0.2s ease-out;
    padding: 0;
  
    .tag-text {
      display: none;
    }
  }
  
  .subtitle {
    color: var(--text-subtitle);
  }

  a {
    outline: none;
  }

  &:hover{
    background-color: var(--card-background);
    transform: scale(98%);

    .tag {
      height: auto;
      width: auto;
      color: #ffffff;
      padding: 0 0.75em;

      .tag-text {
        display: block;
      }
    }
  }

  .card-content {
    height: 85px;
    padding: 1.3rem;
  }

  .media-content {
    overflow: hidden;
    text-overflow: inherit;
  }

  .media.no-subtitle {
    display: flex;
    align-items: center;
  }
}